---
import { REDIRECTIONS } from "../constants";
---

<div
  class="mb-2 text-center flex flex-col gap-3 bg-orange-300 p-2 rounded-md shadow-md"
>
  <p class="font-bold text-xl">¿Querés aprender con nosotros?</p>
  <p>¡Mirá todos nuestros talleres y workshops acá!</p>
  <a
    class="font-semibold hover:text-gray-500 p-2 bg-white rounded-md shadow-md w-1/2 m-auto"
    href={REDIRECTIONS.workshops}>Nuestros Talleres y Workshops</a
  >
</div>
