---
import { REDIRECTIONS } from "../constants";
---

<div
  class="mb-2 text-center flex flex-col gap-3 bg-transparent p-2 rounded-md border border-black"
>
  <p class="font-bold text-xl">¿Querés aprender con nosotros?</p>
  <p>¡Mirá todos nuestros talleres y workshops acá!</p>
  <a
    class="'font-semibold bg-black text-white py-1 px-3 hover:bg-transparent border border-black hover:text-black rounded-md shadow-md' w-1/2 m-auto"
    href={REDIRECTIONS.workshops}>Nuestros Talleres y Workshops</a
  >
</div>
