---
import { Image } from "astro:assets";
import WhatsApp from "../assets/wapp.svg";
---

<a
  href="https://wa.me/5491140785919"
  target="_blank"
  class="w-20 h-20 bg-green-500 rounded-full fixed bottom-3 right-3 shadow-md p-3"
  ><Image class="w-full text-white" src={WhatsApp} alt="" />
</a>
