---
import { REDIRECTIONS } from "../constants";
---

<div
  class="my-8 text-center flex flex-col gap-3 bg-transparent p-2 rounded-md border border-black"
>
  <p class="font-bold text-xl">¿Te capacitaste con nosotros?</p>
  <p>
    ¡Accedé a la toda la información que vimos en el curso y armamos para vos!
  </p>
  <div class="flex m-auto gap-2">
    <a
      class="font-semibold 'font-semibold bg-black text-white py-1 px-3 hover:bg-transparent border border-black hover:text-black rounded-md shadow-md'"
      href={REDIRECTIONS.resinaInicial}>Taller de Resina Inicial</a
    >
    <a
      class="font-semibold 'font-semibold bg-black text-white py-1 px-3 hover:bg-transparent border border-black hover:text-black rounded-md shadow-md'"
      href={REDIRECTIONS.lapiceras}>Workshop de Lapiceras</a
    >
  </div>
</div>
