---
import { REDIRECTIONS } from "../constants";
---

<div
  class="my-8 text-center flex flex-col gap-3 bg-yellow-300 p-2 rounded-md shadow-md"
>
  <p class="font-bold text-xl">¿Te capacitaste con nosotros?</p>
  <p>
    ¡Accedé a la toda la información que vimos en el curso y armamos para vos!
  </p>
  <div class="flex m-auto gap-2">
    <a
      class="font-semibold hover:text-gray-500 p-2 bg-white rounded-md shadow-md"
      href={REDIRECTIONS.resinaInicial}>Taller de Resina Inicial</a
    >
    <a
      class="font-semibold hover:text-gray-500 p-2 bg-white rounded-md shadow-md"
      href={REDIRECTIONS.lapiceras}>Workshop de Lapiceras</a
    >
  </div>
</div>
