<div class="my-4 text-center">
  <p class="uppercase font-bold mt-4">Envío gratis</p>
  <p>
    San Isidro, San Fernando, Tigre y alrededores en compras a partir de
    $15.000.
  </p>
  <p>
    Buenos Aires: 50% de descuento sobre el valor del envío en compras a partir
    de $30.000.
  </p>
  <p>
    Si haces una compra mayor a $70.000 ¡Te bonificamos el 100% del envío a todo
    el país!
  </p>
</div>
