---
import { Image } from "astro:assets";
import Logo from "../../public/logo.jpeg";
---

<header class="flex flex-col m-auto text-center p-3 items-center">
  <Image class="rounded-full w-14" src={Logo} alt="" />
  <h1 class="text-3xl md:text-5xl my-2 font-extrabold">FÉNIX</h1>
  <h2 class="font-semibold">RESINAS E INSUMOS</h2>
  <a href="https://instagram.com/fenix.epoxi" target="_blank">@fenix.epoxi</a>
</header>
