---
import "@fontsource-variable/noto-sans";
import "@fontsource-variable/piazzolla";
import "@fontsource-variable/noto-serif";
import Header from "../components/Header.astro";
import ContactButton from "../components/ContactButton.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.jpeg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <ContactButton />
  </body>
</html>
<style is:global>
  :root {
    /* font-family: "Noto Sans Variable", serif; */
    font-family: "Piazzolla Variable", serif;
    /* background-color: #e5e5e5; */
    background-repeat: repeat-x;
    background-color: #f7ce68;
  }
</style>
